# Files specified directly to avoid accidental update
# repository when is cloned to a home directory
*
!.aliases
!.bash_profile
!.bash_prompt
!.bashrc
!.brew
!.exports
!.functions
!.git
!.gitattributes
!.gitconfig
!.gitignore
!.gitmodules
!.gvimrc
!.hgignore
!.hushlogin
!.inputrc
!.irbrc
!.osx
!.ruby
!.screenrc
!.vim
!.vimrc
!.wgetrc
!README.md
!bootstrap.sh
